RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
ABOUT-NLS
aclocal.m4
archive.tar.gz
autom4te*
build
build-aux
cat-id-tbl.c
.ccache
ChangeLog
clang
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configmake.h
configure
depcomp
.depend
.deps
desc
descriptors_storage
Doxyfile
doxygen
*.gcda
*.gcno
*.gmo
*.header
header_compile_errors
install-sh
intl
*.la
*.lcd
lconv
libintl.jar
.libs
libtool
LINGUAS
*.lo
logs
ltconfig
ltmain.sh
m4
Makefile
Makefile.in
Makefile.in.in
Makevars.template
missing
mkinstalldirs
*.mo
*.mode1v3
*.pbxuser
popt.pc
popt.spec
popt-*.tar.gz
POTFILES
Rules-quot
*.sed
*.sin
stamp-cat-id
stamp-h
stamp-h1
stamp-h.in
stamp-po
*.swp
tdict
test1
test2
test3
test-poptrc
test_results
tests
test?-test?.o
types
