.ccache
.deps/
.depend
.libs/
ABOUT-NLS
ChangeLog
Doxyfile
Makefile
Makefile.in
/aclocal.m4
/autom4te*
build
clang
/config.*
/configure
doxygen
intl
lconv
libtool
/m4/
popt.spec
stamp-h
stamp-h1
stamp-h.in
tdict
test-poptrc
/tests/test-suite.log
/tests/testit.sh.log
/tests/testit.sh.trs
/tests/test1
/tests/test2
/tests/test3
*.gcda
*.gcno
*.gmo
*.la
*.lcd
*.lo
*.swp
*.o
popt.pc
popt-*.tar.gz

/build-aux/
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
