.ccache
.deps
.depend
.libs
ABOUT-NLS
ChangeLog
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te*
build
build-aux
clang
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
doxygen
depcomp
install-sh
intl
lconv
libtool
ltconfig
ltmain.sh
m4
missing
mkinstalldirs
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-po
popt.spec
stamp-h
stamp-h1
stamp-h.in
tdict
test-poptrc
test1
test2
test3
tests/*.log
tests/*.trs
*.gcda
*.gcno
*.gmo
*.la
*.lcd
*.lo
*.o
*.swp
popt.pc
popt-*.tar.gz
